@import '../Work/Work.module.scss';
@import '../BriefInformation/BriefInformation.module.scss';

.education {
  display: grid;
  row-gap: 20px;
}

.institutions {
  min-height: 200px;
}

@media screen and (min-width: 990px) {
  .institutions {
    min-height: 200px;
  }
}
