@import './Components/AsideInfo/Aside.module.scss';
@import './Components/AsideInfo/Aside.module.scss';
@import './Components/BriefInformation/BriefInformation.module.scss';
@import './Components/Work/Work.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  font:
    13px/1.4 'Open Sans',
    sans-serif;
  text-align: justify;

  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: left;
  font-size: 19px;
  font-weight: 600;
  color: rgb(28, 59, 121);
  border-bottom: 3px solid rgba(28, 59, 121, 0.396);

  padding-bottom: 5px;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
}

body {
  background-color: rgba(68, 103, 166, 0.68);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 94vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  column-gap: 40px;

  background-color: rgb(246, 246, 246);
}

.header {
  width: 100%;
}

.translation {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66px;
  height: 23px;
  top: 3px;
  right: 10px;
  cursor: pointer;

  z-index: 99999;

  background-color: rgba(97, 130, 192, 0.493);
  border: 1px solid rgb(141, 167, 217);
  border-radius: 10px;

  .translation__span {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin: auto 0;
  }

  &:focus {
    background-color: rgb(156, 185, 239);
  }
  &:hover {
    background-color: rgb(70, 97, 148);
  }
  &:active {
    background-color: rgb(32, 53, 92);
  }
}

@media screen and (min-width: 800px) {
  * {
    font:
      16px/1.4 'Open Sans',
      sans-serif;
  }

  h1,
  h2 {
    font-size: 25px;
    font-weight: 600;

    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    column-gap: 40px;

    border-radius: 20px;
  }

  .translation {
    height: 30px;
    top: 5px;
  }
}
