.organizations {
  display: grid;
  row-gap: 28px;
}

.organization {
  padding-bottom: 10px;

  border-bottom: 2px solid rgb(170, 195, 244);
}

.basic {
  padding-bottom: 10px;
}

.tasks {
  display: grid;
  width: 100%;
  row-gap: 10px;
}

.task {
  font-size: 14px;
  text-indent: 25px;
  list-style-type: '~';
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.organization-title {
  font-size: 20px;
  font-weight: 600;
  color: rgb(10 44 198 / 67%);
}

.time {
  color: rgba(84, 107, 209, 0.67);
}

.task {
  font-style: italic;
  color: rgba(3, 3, 57, 0.775);
}

.tools-used {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.tools-used__title {
  margin-bottom: 10px;
  color: rgb(0 47 255 / 67%);
  border-bottom: 0.5px solid rgba(121, 139, 216, 0.285);
}

.tools {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.tool {
  font-size: 12px;
  padding: 10px 15px;
  color: aliceblue;
  background-color: rgba(28, 59, 121);
  border: 3px solid rgb(138, 171, 237);
  border-radius: 100%;
}

@media screen and (min-width: 990px) {
  .organizations {
    display: grid;
    row-gap: 28px;
  }

  .description {
    display: grid;
    grid-template-columns: 1fr 150px;
    column-gap: 30px;
  }
}
